<header class="header-mnu" (click)="closeToggle($event)">
  <div class="nav-toggle" (click)="toggle()" [ngClass]="{expanded: toggled === true}">
    <div class="nav-toggle-bar"></div>
  </div>
  <nav #navigate class="nav" [ngClass]="{expanded: toggled === true}">
    <ul>
      <li *ngFor="let link of links; trackBy">
        <a routerLink='/{{link.route}}' (click)="toggled = false">
          {{link.name}}
        </a>
      </li>

    </ul>
  </nav>
    <router-outlet></router-outlet>
</header>
