.main-block
    margin-top: 50px
ul.statsList
    width: 30%
    margin: 0 auto
    list-style-type: none
    li
        display: inline-block
        margin-bottom: 20px
        margin-left: 20px
        float: left