<div class="main-block">

    <ng-template #preloader>
        <app-preloader></app-preloader>
    </ng-template>

    <table *ngIf="!loading; else preloader" cellpadding="0" cellspacong="0">
        <thead>
            <tr>
                <th>Email</th>
                <th>Games</th>
                <th>Age</th>
                <th>PPG</th>
                <th>RPG</th>
                <th>AOG</th>
            </tr>
        </thead>
        <tbody>
            <tr class="statsList" *ngFor="let stats of statsList$ | async; trackBy: todosTrackFn">
                <td>
                    {{stats.email}}
                </td>
                <td>
                    {{stats.games}}
                </td>
                <td>
                    {{stats.age}}
                </td>
                <td>
                    {{stats.PPG}}
                </td>
                <td>
                    {{stats.RPG}}
                </td>
                <td>
                    {{stats.APG}}
                </td>
            </tr>
            <tr class="statsList" *ngFor="let stats of statsList$ | async">
                <td>
                    {{stats.email}}
                </td>
                <td>
                    {{stats.games}}
                </td>
                <td>
                    {{stats.age}}
                </td>
                <td>
                    {{stats.PPG}}
                </td>
                <td>
                    {{stats.RPG}}
                </td>
                <td>
                    {{stats.APG}}
                </td>
            </tr>

            <tr class="statsList" *ngFor="let stats of statsList$ | async">
                <td>
                    {{stats.email}}
                </td>
                <td>
                    {{stats.games}}
                </td>
                <td>
                    {{stats.age}}
                </td>
                <td>
                    {{stats.PPG}}
                </td>
                <td>
                    {{stats.RPG}}
                </td>
                <td>
                    {{stats.APG}}
                </td>
            </tr>
        </tbody>
    </table>
</div>