<div class="main-block">
    <div *ngIf="!loading; else preloader">
        <ul class="statsList" *ngFor="let stats of statsList$ | async">
            <li>
                {{stats.email}}
            </li>
            <li>
                {{stats.games}}
            </li>
            <li>
                {{stats.age}}
            </li>
            <li>
                {{stats.PPG}}
            </li>
            <li>
                {{stats.RPG}}
            </li>
            <li>
                {{stats.APG}}
            </li>
        </ul>
    </div>
    <ng-template #preloader>
        <app-preloader></app-preloader>
    </ng-template>
</div>